<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IP 차단</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <style>
      .content-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      .maintenance-page {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main id="main" class="main">
      <div class="contents" id="maintenance">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="min-vh-100 content-center">
              <div class="maintenance-page text-center">
                <img src="./assets/img/svg/maintenance.svg" alt="maintenance" class="svg" />
                <h3 class="maintenance-page__title">귀하의 IP는 비정상적인 접근으로 일시적으로 제한되었습니다.</h3>
                <p class="fw-500">관리자에게 문의바랍니다.</p>
                <a href="https://discord.gg/NWeMUrAcNy" target="_blank" style="cursor: pointer">디스코드 문의</a>
                <br />
                <a
                  href="https://join.slack.com/t/work-flowhq/shared_invite/zt-22ona5u2d-wMl0uSrOHHvazoAIU97HDw"
                  target="_blank"
                  style="cursor: pointer"
                  >슬랙 문의</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
