<%- include('includes/header') %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
   <script src="./assets/js/board.js" defer></script>
   <div class="contents">

      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">

               <div class="breadcrumb-main">
                  <h4 class="text-capitalize breadcrumb-title">work-flow Board</h4>
                  <div class="breadcrumb-action justify-content-center flex-wrap">
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>Home</a></li>
                           <li class="breadcrumb-item active" aria-current="page">work-flow Board</li>
                        </ol>
                     </nav>
                  </div>
               </div>

            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <!-- Lists container -->

               <!-- card detail modal -->
               <div class="modal fade kanban-modal__card kanban__modal" id="exampleModal" tabindex="-1"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                     <div class="modal-content">
                        <div class=" kanban-modal__header-wrapper">
                           <div class="kanban-modal__header">
                              <h5 class="modal-title" id="exampleModalLabel">File Manager Design</h5>
                              <span>in list Active Project</span>
                           </div>
                           <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary "
                              data-bs-toggle="modal" data-bs-target="#updateCardModal">update</button>
                           <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary "
                              id="cardDeleteBtn">delete</button>
                           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <img src="./assets/img/svg/x.svg" alt="x" class="svg">
                           </button>
                        </div>
                        <div class="modal-body kanban-modal__body">
                           <div class="kanban-modal__form ">
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label">Description</label>
                                 <textarea class="form-control" readonly rows="3" id="cardDetailDescription"></textarea>
                              </div>
                              <div class="row">
                                 <label> image file</label>
                                 <div id="cardDetailImgFile">
                                    <!-- 파일이 이미지일 경우 아래 사용 -->
                                    <a href="./assets/img/american-express.png" download=""> <img
                                          src="./assets/img/american-express.png"> </a>
                                    <a href="./assets/img/american-express.png" download=""> <img
                                          src="./assets/img/american-express.png"> </a>
                                 </div>
                                 <label style="margin-top: 3%;">Files other than image files</label>
                                 <div id="cardDetailNotImgFile">
                                    <!-- 파일이 이미지가 아닐 경우 -->
                                    <a href="./assets/img/american-express.png" download=""> 파일명 </a>
                                    <a href="./assets/img/american-express.png" download=""> 파일명 </a>
                                 </div>
                              </div>
                              <!-- <button class="btn btn-primary btn-sm btn-squared  rounded"><img src="./assets/img/svg/check-square.svg" alt="check-square" class="svg"> Add Checklist</button> -->
                           </div>

                           <div class="kanban-modal__research mt-30">
                              <h6>Members </h6>
                           </div>
                           <div class="kanban-modal__list">
                              <ul id="cardDetailMembers">
                                 <li>
                                    <div class="checkbox-group d-flex">
                                       <div
                                          class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                          <img src="./assets/img/american-express.png"
                                             style="border-radius: 50%; width: 50px; height: 50px; margin-right: 3%;">
                                          <label for="check-grp-5" class=" strikethrough">
                                             File Manager Design
                                          </label>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="checkbox-group d-flex">
                                       <div
                                          class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                          <img src="./assets/img/american-express.png"
                                             style="border-radius: 50%; width: 50px; height: 50px; margin-right: 3%;">
                                          <label for="check-grp-6" class=" strikethrough">
                                             Wireframe for design
                                          </label>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="checkbox-group d-flex">
                                       <div
                                          class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                          <img src="./assets/img/american-express.png"
                                             style="border-radius: 50%; width: 50px; height: 50px; margin-right: 3%;">
                                          <label for="check-grp-7" class=" strikethrough">
                                             Make prototypes
                                          </label>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="checkbox-group d-flex">
                                       <div
                                          class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                          <img src="./assets/img/american-express.png"
                                             style="border-radius: 50%; width: 50px; height: 50px; margin-right: 3%;">
                                          <label for="check-grp-7" class=" strikethrough">
                                             Add images to the product gallery
                                          </label>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                              <!-- <button class="btn btn-primary btn-sm btn-squared" id="cardDetailAddMember">member to invite</button> -->
                           </div>

                           <!-- <div class="kanban-modal__research mt-30">
                                 <h6>CheckList </h6>
                                 <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary ">delete</button>
                              </div>
                              <div class="kanban-modal__list">
                                 <ul>
                                    <li>
                                       <div class="checkbox-group d-flex">
                                          <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                             <input class="checkbox" type="checkbox" id="check-grp-1">
                                             <label for="check-grp-1" class=" strikethrough">
                                                File Manager Design
                                             </label>
                                          </div>
                                          <div class="dropdown dropdown-click">
                                             <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="./assets/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                                             </button>
                                             <div class="dropdown-default dropdown-bottomRight dropdown-menu" style="">
                                                <a class="dropdown-item" href="#">Delete list</a>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="checkbox-group d-flex">
                                          <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                             <input class="checkbox" type="checkbox" id="check-grp-2">
                                             <label for="check-grp-2" class=" strikethrough">
                                                Wireframe for design
                                             </label>
                                          </div>
                                          <div class="dropdown dropdown-click">
                                             <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="./assets/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                                             </button>
                                             <div class="dropdown-default dropdown-bottomRight dropdown-menu" style="">
                                                <a class="dropdown-item" href="#">Delete list</a>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="checkbox-group d-flex">
                                          <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                             <input class="checkbox" type="checkbox" id="check-grp-3">
                                             <label for="check-grp-3" class="strikethrough">
                                                Make prototypes
                                             </label>
                                          </div>
                                          <div class="dropdown dropdown-click">
                                             <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="./assets/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                                             </button>
                                             <div class="dropdown-default dropdown-bottomRight dropdown-menu" style="">
                                                <a class="dropdown-item" href="#">Delete list</a>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="checkbox-group d-flex">
                                          <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                             <input class="checkbox" type="checkbox" id="check-grp-4">
                                             <label for="check-grp-4" class=" strikethrough">
                                                Add images to the product gallery
                                             </label>
                                          </div>
                                          <div class="dropdown dropdown-click">
                                             <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="./assets/img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                                             </button>
                                             <div class="dropdown-default dropdown-bottomRight dropdown-menu" style="">
                                                <a class="dropdown-item" href="#">Delete list</a>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                                 <button class="btn btn-primary btn-sm btn-squared">Add an item</button>
                              </div> -->

                           <div class="kanban-modal__research mt-30">
                              <h6>Comment </h6>
                              <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary "
                                 id="commentBoxBtn">comment +</button>
                           </div>
                           <div class="kanban-modal__form " id="commentBox"
                              style="margin: 3% auto 3% auto; display: none;">
                              <textarea class="form-control" id="cardCreateAddMemberName" rows="3" placeholder="댓글 입력.."
                                 style="margin-bottom: 2%;"></textarea>
                              <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary"
                                 id="">submit</button>
                           </div>
                           <div class="kanban-modal__list">
                              <ul>
                                 <li>
                                    <div class="checkbox-group d-flex" data-bs-toggle="modal"
                                       data-bs-target="#commentDetailModal" id="commentDetail" data-columnId=""
                                       data-cardId="" data-commentId="">
                                       <div class="checkbox-group__single d-flex row">
                                          <label class=" strikethrough" style="color: black;">
                                             comment name1
                                          </label>
                                          <p> comment aaaaaaaaa </p>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="checkbox-group d-flex" data-bs-toggle="modal"
                                       data-bs-target="#commentDetailModal" id="commentDetail" data-columnId=${columnId}
                                       data-cardId="cardId를 넣어주세요" data-commentId="">
                                       <div class="checkbox-group__single d-flex row">
                                          <label class=" strikethrough" style="color: black;">
                                             comment name1
                                          </label>
                                          <p> comment aaaaaaaaa </p>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="checkbox-group d-flex" data-bs-toggle="modal"
                                       data-bs-target="#commentDetailModal" id="commentDetail" data-columnId=${columnId}
                                       data-cardId="cardId를 넣어주세요" data-commentId="">
                                       <div class="checkbox-group__single d-flex row">
                                          <label class=" strikethrough" style="color: black;">
                                             comment name1
                                          </label>
                                          <p> comment aaaaaaaaa </p>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                              <!-- <button class="btn btn-primary btn-sm btn-squared">Add an item</button> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- column create modal -->
               <div class="modal fade kanban-modal__card kanban__modal" id="editColumnModal" tabindex="-1"
                  aria-labelledby="editColumnModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                     <div class="modal-content">
                        <div class=" kanban-modal__header-wrapper">
                           <div class="kanban-modal__header">
                              <h5 class="modal-title" id="editColumnModalLabel">컬럼 생성</h5>
                           </div>
                           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <img src="./assets/img/svg/x.svg" alt="x" class="svg">
                           </button>
                        </div>
                        <div class="modal-body kanban-modal__body">
                           <div class="kanban-modal__form ">
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label">컬럼 제목</label>
                                 <input type="text" id="columnTitle" style="margin-bottom: 3%;" />
                              </div>
                              <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary"
                                 id="ColumnAddBtn">생성</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- column update modal -->
               <div class="modal fade kanban-modal__card kanban__modal" id="updateColumnModal" tabindex="-1"
                  aria-labelledby="updateColumnModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                     <div class="modal-content">
                        <div class=" kanban-modal__header-wrapper">
                           <div class="kanban-modal__header">
                              <h5 class="modal-title" id="updateColumnModalLabel">컬럼 수정</h5>
                           </div>
                           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <img src="./assets/img/svg/x.svg" alt="x" class="svg">
                           </button>
                        </div>
                        <div class="modal-body kanban-modal__body">
                           <div class="kanban-modal__form ">
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label">컬럼 제목</label>
                                 <input type="text" id="columnTitleUpdate" style="margin-bottom: 3%;" />
                              </div>
                              <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary"
                                 id="ColumnUpdateNameBtn">수정</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- card create modal -->
               <div class="modal fade kanban-modal__card kanban__modal" id="createCardModal" tabindex="-1"
                  aria-labelledby="createCardModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                     <div class="modal-content">
                        <div class=" kanban-modal__header-wrapper">
                           <div class="kanban-modal__header">
                              <h5 class="modal-title" id="createCardModalLabel">카드 생성</h5>
                           </div>
                           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <img src="./assets/img/svg/x.svg" alt="x" class="svg">
                           </button>
                        </div>
                        <div class="modal-body kanban-modal__body">
                           <div class="kanban-modal__form ">
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label">제목</label>
                                 <input type="text" id="cardTitleCreate" style="margin-bottom: 3%;" />
                              </div>
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label">내용</label>
                                 <textarea class="form-control" id="cardContentCreate" rows="3"
                                    placeholder="내용을 작성해주세요…"></textarea>
                              </div>
                              <div class="row">
                                 <label> 파일 업로드 </label>
                                 <div class="insert">
                                    <form method="POST" onsubmit="return false;" enctype="multipart/form-data">
                                        <input type="file"onchange="addFile(this);" multiple />
                                        <div class="file-list"></div>
                                    </form>
                                </div>
                              </div>
                              <!-- <button class="btn btn-primary btn-sm btn-squared  rounded"><img src="./assets/img/svg/check-square.svg" alt="check-square" class="svg"> Add Checklist</button> -->
                           </div>

                           <div class="kanban-modal__research mt-30">
                              <h6>참여자 </h6>
                           </div>
                           <div class="kanban-modal__list">
                              <button class="btn btn-primary btn-sm btn-squared" id="cardCreateAddMemberBtn">초대하기...</button>
                              <div id="cardCreateAddMemberBox" style="margin: 3% auto 3% auto; display: none;">
                                 <div class="mb-25">
                                    <div class="form-group mb-10">
                                       <label for="cardCreateMmeberName">멤버 선택</label>
                                       <!-- <input
                                           type="text"
                                           class="form-control"
                                           id="cardCreateMmeberName"
                                           placeholder="멤버의 이름을 입력해주세요."
                                         /> -->
                                       <div style="margin: 2% auto 2% auto;" id="selected-members"></div>
                                    </div>
                                    <ul class="d-flex flex-wrap mb-20 user-group-people__parent"
                                       id="cardCreateMemberView">
                                       <!-- 검색한 멤버를 선택하면 붙는곳 -->
                                    </ul>
                                 </div>
                              </div>
                           </div>

                           <div class="kanban-modal__research mt-30">
                              <h6>카드 색상 </h6>
                              <input type="color" id="cardColorCreate" />
                           </div>
                           <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary"
                              id="CardCreateBtn">생성</button>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- card update modal -->
               <div class="modal fade kanban-modal__card kanban__modal" id="updateCardModal" tabindex="-1"
                  aria-labelledby="updateCardModalLabel" aria-hidden="true" data-column-id="" data-card-id="">
                  <div class="modal-dialog modal-dialog-scrollable">
                     <div class="modal-content">
                        <div class=" kanban-modal__header-wrapper">
                           <div class="kanban-modal__header">
                              <h5 class="modal-title" id="updateCardModalLabel">카드 수정</h5>
                           </div>
                           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <img src="./assets/img/svg/x.svg" alt="x" class="svg">
                           </button>
                        </div>
                        <div class="modal-body kanban-modal__body">
                           <div class="kanban-modal__form ">
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label">제목</label>
                                 <input type="text" id="cardTitleUpdate" style="margin-bottom: 3%;" />
                              </div>
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label">내용</label>
                                 <textarea class="form-control" id="cardContentUpdate" rows="3"
                                    placeholder="내용을 입력해주세요…"></textarea>
                              </div>
                              <div class="row">
                                 <label> 파일 업로드 </label>
                                 <div class="insert">
                                    <form method="POST" onsubmit="return false;" enctype="multipart/form-data">
                                        <input type="file"onchange="addFile(this);" multiple />
                                        <div class="file-list" id="edit-card-file"></div>
                                    </form>
                                </div>
                                 <!-- <input type="file" id="cardfileUpdate" style="margin-bottom: 3%;" /> -->
                              </div>
                              <!-- <button class="btn btn-primary btn-sm btn-squared  rounded"><img src="./assets/img/svg/check-square.svg" alt="check-square" class="svg"> Add Checklist</button> -->
                           </div>

                           <div class="kanban-modal__research mt-30">
                              <h6>참여자 </h6>
                           </div>
                           <div class="kanban-modal__list">
                              <button class="btn btn-primary btn-sm btn-squared" id="cardUpdateAddMembers">초대하기...</button>
                              <div id="cardUpdateAddMemberBox" style="margin: 3% auto 3% auto; display: none;">
                                 <div class="mb-25">
                                    <div class="form-group mb-10">
                                       <label for="cardCreateMmeberName">멤버 선택</label>
                                       <div style="margin: 2% auto 2% auto;" id="update-selected-members"></div>
                                    </div>
                                    <ul class="d-flex flex-wrap mb-20 user-group-people__parent" id="cardUpdateMembers">
                                       <!-- 검색한 멤버를 선택하면 붙는곳 -->
                                    </ul>
                                 </div>
                              </div>
                           </div>

                           <div class="kanban-modal__research mt-30">
                              <h6>카드 색상 </h6>
                              <input type="color" id="cardColorUpdate" />
                           </div>
                           <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary"
                              id="CardUpdateBtn">수정</button>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- comment detail modal -->
               <div class="modal fade kanban-modal__card kanban__modal" id="commentDetailModal" tabindex="-1"
                  aria-labelledby="commentDetailModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                     <div class="modal-content">
                        <div class=" kanban-modal__header-wrapper">
                           <div class="kanban-modal__header">
                              <h5 class="modal-title" id="commentDetailModalLabel">댓글</h5>
                           </div>
                           <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary "
                              id="commentUpdateBtn">수정</button>
                           <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary "
                              id="commentDeleteBtn">삭제</button>
                           <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary"
                              id="commentConfirmBtn" style="display:none;">확인</button>
                           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <img src="./assets/img/svg/x.svg" alt="x" class="svg">
                           </button>
                        </div>
                        <div class="modal-body kanban-modal__body">
                           <div class="kanban-modal__form ">
                              <div class="mb-30">
                                 <label for="exampleFormControlTextarea1111" class="form-label"
                                    id="commentAuthor">작성자1</label>
                                 <textarea class="form-control" id="commentUpdate" rows="3" readonly> 댓글1 </textarea>
                              </div>
                              <!-- <button class="btn btn-primary btn-sm btn-squared  rounded"><img src="./assets/img/svg/check-square.svg" alt="check-square" class="svg"> Add Checklist</button> -->
                           </div>
                           <div class="kanban-modal__research mt-30">
                              <h6>댓글 ...</h6>
                           </div>
                           <div class="kanban-modal__list">
                              <button class="btn btn-primary btn-sm btn-squared" id="replayCommentBtn">답글 달기</button>
                           </div>
                           <div class="kanban-modal__form " id="commentAddBox"
                              style="margin: 3% auto 3% auto; display: none;">
                              <textarea class="form-control" id="replayComment" rows="3" placeholder="입력.."
                                 style="margin-bottom: 3%;"></textarea>
                              <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary"
                                 id="replayCommentButton">답글
                                 추가</button>
                           </div>
                           <div class="kanban-modal__list">
                              <ul>

                              </ul>
                           </div>
                           <!-- <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary" id="CardUpdateBtn">submit</button> -->
                        </div>
                     </div>
                  </div>
               </div>

               <div class="kanban-board__card mb-50">
                  <div class="kanban-header">
                     <h4>board name</h4>
                  </div>
                  <section class="lists-container kanban-container ">

                  </section>
               </div>
               <!-- End of lists container -->
            </div>
         </div>
      </div>


   </div>

   <%- include('includes/footer') %>