<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | <%= subtitle %></title>
  </head>
  <body>
    <img src="../images/kakao.png" class="kakaoLogin" />
    <img src="../images/google.png" class="googleLogin" />
    <img src="../images/naver.png" class="naverLogin" />
  </body>
  <script>
    const kakaoLoginBtn = document.querySelector('.kakaoLogin');
    const googleLoginBtn = document.querySelector('.googleLogin');
    const naverLoginBtn = document.querySelector('.naverLogin');

    function googleLogin() {
      window.location.href =
        `https://accounts.google.com/o/oauth2/auth?client_id=1098266876328-ibg7lfkte0358vsqt5cprv6akf1l2mdq.apps.googleusercontent.com` +
        '&redirect_uri=' +
        encodeURIComponent(`http://127.0.0.1:3000/socialLogin/google`) +
        '&response_type=code' +
        '&scope=email profile';
    }

    function kakaoLogin() {
      window.location.href =
        `https://kauth.kakao.com/oauth/authorize?client_id=6cdf7b0e538d88b2284a5dee284f9b5b&redirect_uri=` +
        encodeURIComponent(`http://127.0.0.1:3000/socialLogin/kakao`) +
        '&response_type=code';
    }

    function naverLogin() {
      window.location.href =
        `https://nid.naver.com/oauth2.0/authorize?client_id=xt0v4KWDrbjwuiriRYkt&redirect_uri=` +
        encodeURIComponent(`http://127.0.0.1:3000/socialLogin/naver`) +
        '&response_type=code';
    }
    kakaoLoginBtn.addEventListener('click', kakaoLogin);
    googleLoginBtn.addEventListener('click', googleLogin);
    naverLoginBtn.addEventListener('click', naverLogin);
  </script>
</html>
