<%- include('includes/header') %>
<main id="main" class="main">
  <div class="contents">
    <img src="./assets/img/main.png" style="width: 100%" />
  </div>
</main>
<!-- End #main -->
<%- include('includes/footer') %>
