<%- include('includes/header') %>
<main id="main" class="main">
  <div class="contents" id="maintenance">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="min-vh-100 content-center">
          <div class="maintenance-page text-center">
            <img src="./assets/img/svg/maintenance.svg" alt="maintenance" class="svg" />
            <h5 class="maintenance-page__title">현재 유지보수 진행 중인 페이지 입니다.</h5>
            <p class="fw-500">고객님들이 만족 할 수 있는 시스템을 만들고 있습니다. 최대한 빠르게 제공해드리겠습니다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('includes/footer') %>
