<%- include('includes/header') %>
<div class="contents">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-main">
          <h4 class="text-capitalize breadcrumb-title">서포트 (1:1문의)</h4>
          <div class="breadcrumb-action justify-content-center flex-wrap">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="uil uil-estate"></i>Work Flow</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">서포트</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-feature--14 card mb-25">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="card-body d-inline-block">
                <h1 class="d-flex">안녕하세요! Work-Flow 서포트팀입니다!</h1>
                <p>
                  도움이 필요한 내용이 있으시다면 아래의 어플리케이션을 통해<br />문의내용을 작성해주세요! 최대한 빠른
                  시간 내에 확인 후 답변 드리겠습니다!
                </p>
                <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary rounded-pill">
                  <a
                    href="https://feather-almanac-87a.notion.site/Work-Flow-254abb21a36d40bbaf70fb6f065c21d3?pvs=4"
                    target="_blank"
                    style="color: inherit"
                    >Work-Flow 사용가이드</a
                  >
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="banner-feature__shape mt-50 d-flex justify-content-end">
                <img src="./assets/img/svg/banne-group21.svg" alt="img" class="svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card banner-feature--16 mb-50 px-xxl-0 px-sm-30 px-15" style="padding-top: 30px">
      <div class="row justify-content-center">
        <div class="col-xxl-9">
          <div class="row">
            <div class="col-xxl-4 col-lg-6 mb-25">
              <div class="card shadow-none border-0">
                <div class="card-body banner-feature--15">
                  <div class="banner-feature__shape d-flex justify-content-center">
                    <div class="wh-80 bg-white rounded-circle content-center">
                      <img src="./assets/img/Discord.png" alt="img" />
                    </div>
                  </div>
                  <div class="pb-md-0 pb-30 text-center">
                    <h4>디스코드</h4>
                    <p>디스코드 입장 후 티켓을 열어주세요</p>
                  </div>
                  <div class="content-center mt-25">
                    <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary rounded-pill">
                      <a href="https://discord.gg/NWeMUrAcNy" target="_blank" style="color: inherit">티켓 열기</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-4 col-lg-6 mb-25">
              <div class="card shadow-none border-0">
                <div class="card-body banner-feature--15">
                  <div class="banner-feature__shape d-flex justify-content-center">
                    <div class="wh-80 bg-white rounded-circle content-center">
                      <img src="./assets/img/svg/slack.svg" alt="img" class="svg" />
                    </div>
                  </div>
                  <div class="pb-md-0 pb-30 text-center">
                    <h4>슬랙</h4>
                    <p>채널 입장 후 문의사항에 글을 남겨주세요</p>
                  </div>
                  <div class="content-center mt-25">
                    <button class="btn btn-primary btn-sm btn-squared btn-transparent-primary rounded-pill">
                      <a
                        href="https://join.slack.com/t/work-flowhq/shared_invite/zt-22ona5u2d-wMl0uSrOHHvazoAIU97HDw"
                        target="_blank"
                        style="color: inherit"
                        >채널 참여하기</a
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-4 col-lg-6 mb-25">
              <div class="card shadow-none border-0">
                <div class="card-body banner-feature--15" style="height: 300px">
                  <div class="banner-feature__shape d-flex justify-content-center">
                    <div class="wh-80 bg-white rounded-circle content-center">
                      <img src="./assets/img/svg/clock-ticket.svg" alt="img" class="svg" />
                    </div>
                  </div>
                  <div class="pb-md-0 pb-30 text-center">
                    <h4>상담시간</h4>
                    <p>상담 가능시간 : 09:00 ~ 18:00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('includes/footer') %>
