<%- include('includes/header') %>
<div class="contents">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-main application-ui mb-30">
          <div class="breadcrumb-action d-flex">
            <div class="d-flex align-items-center user-member__title me-sm-25 me-0">
              <h4 class="text-capitalize fw-500 breadcrumb-title" id="workspace-title"></h4>
            </div>
          </div>
          <div class="d-flex text-capitalize">
            <button
              type="button"
              class="breadcrumb-edit btn btn-white border-0 color-primary content-center fs-12 fw-500 radius-md"
              id="edit-button"
              onclick="openEditWorkspaceModal()"
            >
              <img src="./assets/img/svg/edit-3.svg" alt="edit-3" class="svg" />edit
            </button>
            <button
              type="button"
              class="breadcrumb-remove border-0 color-danger content-center bg-white fs-12 fw-500 ms-10 radius-md"
              id="remove-button"
              onclick="deleteWorkspace()"
            >
              <img class="svg" src="./assets/img/svg/trash-2.svg" alt="trash-2" />remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 워크스페이스 수정모달 -->
    <div class="modal-basic modal fade show" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white">
          <div class="modal-header">
            <h6 class="modal-title">워크스페이스 수정</h6>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <img src="./assets/img/svg/x.svg" alt="x" class="svg" />
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-basic">
                <div class="form-group mb-25">
                  <label>워크스페이스 타이틀</label>
                  <input
                    class="form-control form-control-lg"
                    type="text"
                    id="edit-title"
                    placeholder="내용을 입력하세요."
                  />
                </div>
                <div class="card card-default card-md mb-4">
                  <label>워크스페이스 타입</label>
                  <div class="dm-select-list d-flex">
                    <div class="dm-select">
                      <select name="select-search" id="select-search" class="form-control">
                        <option>개발</option>
                        <option>연구</option>
                        <option>마케팅</option>
                        <option>교육</option>
                        <option>HRD</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-25">
                  <label for="description">워크스페이스 소개</label>
                  <div class="position-relative">
                    <textarea
                      class="form-control form-control-lg"
                      id="edit-description"
                      placeholder="내용을 입력하세요."
                      style="resize: none"
                    ></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="updateWorkspace()">수정</button>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 워크스페이스 수정모달 끝 -->
    <!-- Tab Menu End -->
    <div class="projects-tab-content mb-30">
      <div class="row">
        <div class="col-xxl-3 col-lg-4 mb-25">
          <div class="fileM-progress" id="workspace-storage"></div>
          <!-- 워크스페이스 사용량 붙는 곳 -->
          <div class="card mt-25" id="workspace-total">
            <!-- 토탈데이터 붙는 곳 -->
          </div>
          <!-- ends: .card -->
        </div>
        <div class="col-xxl-6 col-lg-8 mb-25" id="workspace-card">
          <!-- ends: col -->
        </div>
        <!-- ends: .card -->
        <div class="col-xxl-3 col-lg-6 col-12 mb-25 order-xxl-0 order-lg-1">
          <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center py-10 px-sm-25 px-3">
              <h6 class="fw-500">멤버</h6>
              <button
                type="button"
                class="border radius-lg color-primary fw-500 fs-12 bg-transparent acButton"
                onclick="openInviteWorkspaceModal()"
              >
                <img class="svg" src="./assets/img/svg/user-plus.svg" alt="" /> 멤버초대
              </button>
            </div>
            <div class="card-body" id="workspace-member" style="overflow-y: scroll; max-height: 300px">
              <div class="d-flex align-items-center mb-25"></div>
            </div>
          </div>
        </div>
        <!-- ends: .card -->
        <!-- 멤버 초대 모달 -->
        <div class="modal-basic modal fade show" id="modal-basic2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white">
              <div class="modal-header">
                <h6 class="modal-title">멤버 초대</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <img src="./assets/img/svg/x.svg" alt="x" class="svg" />
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-basic">
                    <div class="form-group mb-25">
                      <label>이메일</label>
                      <input
                        class="form-control form-control-lg"
                        type="text"
                        id="email-input"
                        placeholder="이메일을 입력하세요."
                      />
                    </div>
                  </div>
                  <div class="card card-default card-md mb-4">
                    <label>역할</label>
                    <div class="dm-select-list d-flex">
                      <div class="dm-select">
                        <select name="select-search" id="select-search" class="form-control">
                          <option value="2">Manager</option>
                          <option value="3">Member</option>
                          <option value="4">OutSourcing</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- 전송 중 메시지 -->
                <div id="sending-message" style="display: none">
                  전송 중...
                  <div class="dm-spin-dots spin-md">
                    <span class="spin-dot badge-dot dot-primary"></span>
                    <span class="spin-dot badge-dot dot-primary"></span>
                    <span class="spin-dot badge-dot dot-primary"></span>
                    <span class="spin-dot badge-dot dot-primary"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="inviteMember()">초대메일 전송</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 멤버초대 모달 끝 -->
        <!-- 멤버권한 수정 모달 -->
        <div class="modal-basic modal fade show" id="modal-basic3" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white">
              <div class="modal-header">
                <h6 class="modal-title">멤버역할 수정</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <img src="./assets/img/svg/x.svg" alt="x" class="svg" />
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="card card-default card-md mb-4">
                    <label>역할</label>
                    <div class="dm-select-list d-flex">
                      <div class="dm-select">
                        <select name="select-search" id="select-search" class="form-control">
                          <option value="2">Manager</option>
                          <option value="3">Member</option>
                          <option value="4">OutSourcing</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="edit-member-btn" onclick="setMemberRole()">
                  수정
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 멤버권한 수정 모달 끝 -->
        <!-- 멤버십 연장 결제 모달 시작 -->
        <div class="modal-basic modal fade show" id="modal-basic5" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <!-- 멤버십 연장 결제 모달 끝 -->
        <!-- ends: col -->
        <div class="col-xxl-8 mb-25">
          <div class="card">
            <div class="card-header p-0">
              <ul class="nav px-25 ap-tab-main app-ui-tab" id="project-ap-tab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="project-overview-tab"
                    data-bs-toggle="pill"
                    href="#project-overview"
                    role="tab"
                    aria-selected="true"
                    >task list</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="project-timeline-tab"
                    data-bs-toggle="pill"
                    href="#project-timeline"
                    role="tab"
                    aria-selected="false"
                    >Activities</a
                  >
                </li>
              </ul>
            </div>
            <div class="tab-content w-100" id="projectContent">
              <div
                class="tab-pane fade show active"
                id="project-overview"
                role="tabpanel"
                aria-labelledby="project-overview-tab"
              >
                <div class="card-body px-0 pt-15 pb-15">
                  <div class="project-task table-responsive table-responsive--dynamic">
                    <table class="table table-borderless">
                      <tbody>
                        <tr class="project-task-list ptl--hover draggable" draggable="true">
                          <td>
                            <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                <input class="checkbox" type="checkbox" id="check-grp-taske1" checked />
                                <label for="check-grp-taske1" class="fs-14 color-light strikethrough">
                                  Add images to the product gallery
                                </label>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="project-task-list__right">
                              <ul class="d-flex align-content-center">
                                <li>
                                  <span class="fs-12 text-light time-completed">09:30 AM</span>
                                </li>
                                <li>
                                  <a href="#" class="cross">
                                    <i class="uil uil-times"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="plus">
                                    <img src="./assets/img/svg/move.svg" alt="move" class="svg" />
                                  </a>
                                </li>
                                <li>
                                  <div class="dropdown dropleft">
                                    <button
                                      class="btn-link border-0 bg-transparent p-0"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <img
                                        src="./assets/img/svg/more-horizontal.svg"
                                        alt="more-horizontal"
                                        class="svg"
                                      />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--dynamic">
                                      <a class="dropdown-item" href="#">view</a>
                                      <a class="dropdown-item" href="#">edit</a>
                                      <a class="dropdown-item" href="#">leave</a>
                                      <a class="dropdown-item" href="#">delete</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>

                        <tr class="project-task-list ptl--hover draggable" draggable="true">
                          <td>
                            <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                <input class="checkbox" type="checkbox" id="check-grp-taske2" checked />
                                <label for="check-grp-taske2" class="fs-14 color-light strikethrough">
                                  Update user profile page
                                </label>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="project-task-list__right">
                              <ul class="d-flex align-content-center">
                                <li>
                                  <span class="fs-12 text-light time-completed">09:30 AM</span>
                                </li>
                                <li>
                                  <a href="#" class="cross">
                                    <i class="uil uil-times"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="plus">
                                    <img src="./assets/img/svg/move.svg" alt="move" class="svg" />
                                  </a>
                                </li>
                                <li>
                                  <div class="dropdown dropleft">
                                    <button
                                      class="btn-link border-0 bg-transparent p-0"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <img
                                        src="./assets/img/svg/more-horizontal.svg"
                                        alt="more-horizontal"
                                        class="svg"
                                      />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--dynamic">
                                      <a class="dropdown-item" href="#">view</a>
                                      <a class="dropdown-item" href="#">edit</a>
                                      <a class="dropdown-item" href="#">leave</a>
                                      <a class="dropdown-item" href="#">delete</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>

                        <tr class="project-task-list ptl--hover draggable" draggable="true">
                          <td>
                            <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                <input class="checkbox" type="checkbox" id="check-grp-taske3" />
                                <label for="check-grp-taske3" class="fs-14 color-light strikethrough">
                                  Support tickets list doesn&#39;t support commas
                                </label>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="project-task-list__right">
                              <ul class="d-flex align-content-center">
                                <li>
                                  <span class="fs-12 text-light time-completed">8:30 AM</span>
                                </li>
                                <li>
                                  <a href="#" class="cross">
                                    <i class="uil uil-times"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="plus">
                                    <img src="./assets/img/svg/move.svg" alt="move" class="svg" />
                                  </a>
                                </li>
                                <li>
                                  <div class="dropdown dropleft">
                                    <button
                                      class="btn-link border-0 bg-transparent p-0"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <img
                                        src="./assets/img/svg/more-horizontal.svg"
                                        alt="more-horizontal"
                                        class="svg"
                                      />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--dynamic">
                                      <a class="dropdown-item" href="#">view</a>
                                      <a class="dropdown-item" href="#">edit</a>
                                      <a class="dropdown-item" href="#">leave</a>
                                      <a class="dropdown-item" href="#">delete</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>

                        <tr class="project-task-list ptl--hover draggable" draggable="true">
                          <td>
                            <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                <input class="checkbox" type="checkbox" id="check-grp-taske4" />
                                <label for="check-grp-taske4" class="fs-14 color-light strikethrough">
                                  Changing title text on single locations pages
                                </label>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="project-task-list__right">
                              <ul class="d-flex align-content-center">
                                <li>
                                  <span class="fs-12 text-light time-completed">10:00 AM</span>
                                </li>
                                <li>
                                  <a href="#" class="cross">
                                    <i class="uil uil-times"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="plus">
                                    <img src="./assets/img/svg/move.svg" alt="move" class="svg" />
                                  </a>
                                </li>
                                <li>
                                  <div class="dropdown dropleft">
                                    <button
                                      class="btn-link border-0 bg-transparent p-0"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <img
                                        src="./assets/img/svg/more-horizontal.svg"
                                        alt="more-horizontal"
                                        class="svg"
                                      />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--dynamic">
                                      <a class="dropdown-item" href="#">view</a>
                                      <a class="dropdown-item" href="#">edit</a>
                                      <a class="dropdown-item" href="#">leave</a>
                                      <a class="dropdown-item" href="#">delete</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>

                        <tr class="project-task-list ptl--hover draggable" draggable="true">
                          <td>
                            <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                <input class="checkbox" type="checkbox" id="check-grp-taske5" />
                                <label for="check-grp-taske5" class="fs-14 color-light strikethrough">
                                  Registration Confirmation! Email is missing some information
                                </label>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="project-task-list__right">
                              <ul class="d-flex align-content-center">
                                <li>
                                  <span class="fs-12 text-light time-completed">8:30 PM</span>
                                </li>
                                <li>
                                  <a href="#" class="cross">
                                    <i class="uil uil-times"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="plus">
                                    <img src="./assets/img/svg/move.svg" alt="move" class="svg" />
                                  </a>
                                </li>
                                <li>
                                  <div class="dropdown dropleft">
                                    <button
                                      class="btn-link border-0 bg-transparent p-0"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <img
                                        src="./assets/img/svg/more-horizontal.svg"
                                        alt="more-horizontal"
                                        class="svg"
                                      />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--dynamic">
                                      <a class="dropdown-item" href="#">view</a>
                                      <a class="dropdown-item" href="#">edit</a>
                                      <a class="dropdown-item" href="#">leave</a>
                                      <a class="dropdown-item" href="#">delete</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>

                        <tr class="project-task-list ptl--hover draggable" draggable="true">
                          <td>
                            <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                <input class="checkbox" type="checkbox" id="check-grp-6" />
                                <label for="check-grp-6" class="fs-14 color-light strikethrough">
                                  Login page not redirecting wrong
                                </label>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="project-task-list__right">
                              <ul class="d-flex align-content-center">
                                <li>
                                  <span class="fs-12 text-light time-completed">Yesterday</span>
                                </li>
                                <li>
                                  <a href="#" class="cross">
                                    <i class="uil uil-times"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="plus">
                                    <img src="./assets/img/svg/move.svg" alt="move" class="svg" />
                                  </a>
                                </li>
                                <li>
                                  <div class="dropdown dropleft">
                                    <button
                                      class="btn-link border-0 bg-transparent p-0"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <img
                                        src="./assets/img/svg/more-horizontal.svg"
                                        alt="more-horizontal"
                                        class="svg"
                                      />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--dynamic">
                                      <a class="dropdown-item" href="#">view</a>
                                      <a class="dropdown-item" href="#">edit</a>
                                      <a class="dropdown-item" href="#">leave</a>
                                      <a class="dropdown-item" href="#">delete</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>

                        <tr class="project-task-list ptl--hover draggable" draggable="true">
                          <td>
                            <div class="checkbox-group d-flex">
                              <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                <input class="checkbox" type="checkbox" id="check-grp-7" />
                                <label for="check-grp-7" class="fs-14 color-light strikethrough">
                                  Custom Field for Registration
                                </label>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="project-task-list__right">
                              <ul class="d-flex align-content-center">
                                <li>
                                  <span class="fs-12 text-light time-completed">Wed</span>
                                </li>
                                <li>
                                  <a href="#" class="cross">
                                    <i class="uil uil-times"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="plus">
                                    <img src="./assets/img/svg/move.svg" alt="move" class="svg" />
                                  </a>
                                </li>
                                <li>
                                  <div class="dropdown dropleft">
                                    <button
                                      class="btn-link border-0 bg-transparent p-0"
                                      data-bs-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <img
                                        src="./assets/img/svg/more-horizontal.svg"
                                        alt="more-horizontal"
                                        class="svg"
                                      />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu--dynamic">
                                      <a class="dropdown-item" href="#">view</a>
                                      <a class="dropdown-item" href="#">edit</a>
                                      <a class="dropdown-item" href="#">leave</a>
                                      <a class="dropdown-item" href="#">delete</a>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="task-list-btn px-25 my-10">
                      <button class="text-primary">
                        <img class="svg" src="./assets/img/svg/plus.svg" alt="" />Add New Task
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="project-timeline" role="tabpanel" aria-labelledby="project-timeline-tab">
                <div class="card-body px-0 mx-25 border-bottom">
                  <div class="task-activities d-flex align-items-center">
                    <div class="task-activities__left d-flex">
                      <div class="content-center border bg-normal radius-xl me-sm-20 me-0 task-activities__month">
                        <div class="px-20 text-center">
                          <h5>22</h5>
                          <span class="fs-13 color-gray">December</span>
                        </div>
                      </div>
                      <div class="task-activities__right">
                        <ul>
                          <li class="">
                            <div class="ffp d-flex justify-content-between align-items-center w-100">
                              <div class="d-flex">
                                <div class="me-3 ffp__imgWrapper d-flex align-items-center">
                                  <span
                                    class="wh-24 me-15 rounded-circle content-center color-danger bg-opacity-danger"
                                  >
                                    <img src="./assets/img/svg/plus.svg" alt="plus" class="svg"
                                  /></span>
                                  <span
                                    class="profile-image rounded-circle d-block wh-34 m-0"
                                    style="background-image: url('img/tm5.png'); background-size: cover"
                                  ></span>
                                </div>
                                <div>
                                  <a href="#">
                                    <p class="fw-500 fs-14 text-dark mb-0">
                                      Mumtahin <span class="color-light mx-1 fw-400">added new task</span>Mumtahin
                                      Dashboard Project
                                    </p>
                                  </a>
                                  <span class="pt-1 d-block color-extra-light fs-12"> 3:30 PM </span>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li class="">
                            <div class="ffp d-flex justify-content-between align-items-center w-100">
                              <div class="d-flex">
                                <div class="me-3 ffp__imgWrapper d-flex align-items-center">
                                  <span
                                    class="wh-24 me-15 rounded-circle content-center color-primary bg-opacity-primary"
                                  >
                                    <img src="./assets/img/svg/code.svg" alt="code" class="svg"
                                  /></span>
                                  <span
                                    class="profile-image rounded-circle d-block wh-34 m-0"
                                    style="background-image: url('img/tm6.png'); background-size: cover"
                                  ></span>
                                </div>
                                <div>
                                  <a href="#">
                                    <p class="fw-500 fs-14 text-dark mb-0">
                                      Mike Greene
                                      <span class="color-light mx-1 fw-400">pushed commit</span>#652364
                                    </p>
                                  </a>
                                  <span class="pt-1 d-block color-extra-light fs-12"> 9:30 PM </span>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li class="">
                            <div class="ffp d-flex justify-content-between align-items-center w-100">
                              <div class="d-flex">
                                <div class="me-3 ffp__imgWrapper d-flex align-items-center">
                                  <span
                                    class="wh-24 me-15 rounded-circle content-center color-success bg-opacity-success"
                                  >
                                    <img src="./assets/img/svg/check.svg" alt="check" class="svg"
                                  /></span>
                                  <span
                                    class="profile-image rounded-circle d-block wh-34 m-0"
                                    style="background-image: url('img/tm2.png'); background-size: cover"
                                  ></span>
                                </div>
                                <div>
                                  <a href="#">
                                    <p class="fw-500 fs-14 text-dark mb-0">
                                      Tomlinson <span class="color-light mx-1 fw-400">completed task</span>Invoice
                                      template
                                    </p>
                                  </a>
                                  <span class="pt-1 d-block color-extra-light fs-12"> 10:30 PM </span>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 mx-25">
                  <div class="task-activities d-flex align-items-center">
                    <div class="task-activities__left d-flex">
                      <div class="content-center border bg-normal radius-xl me-sm-20 me-0 task-activities__month">
                        <div class="px-20 text-center">
                          <h5>21</h5>
                          <span class="fs-13 color-gray">December</span>
                        </div>
                      </div>
                      <div class="task-activities__right">
                        <ul>
                          <li class="">
                            <div class="ffp d-flex justify-content-between align-items-center w-100">
                              <div class="d-flex">
                                <div class="me-3 ffp__imgWrapper d-flex align-items-center">
                                  <span class="wh-24 me-15 rounded-circle content-center color-info bg-opacity-info">
                                    <img src="./assets/img/svg/user-plus.svg" alt="user-plus" class="svg"
                                  /></span>
                                  <span
                                    class="profile-image rounded-circle d-block wh-34 m-0"
                                    style="background-image: url('img/tm2.png'); background-size: cover"
                                  ></span>
                                </div>
                                <div>
                                  <a href="#">
                                    <p class="fw-500 fs-14 text-dark mb-0">
                                      Mumtahin <span class="color-light mx-1 fw-400">added new task</span>Mumtahin
                                      Dashboard Project
                                    </p>
                                  </a>
                                  <span class="pt-1 d-block color-extra-light fs-12"> 3:30 PM </span>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li class="">
                            <div class="ffp d-flex justify-content-between align-items-center w-100">
                              <div class="d-flex">
                                <div class="me-3 ffp__imgWrapper d-flex align-items-center">
                                  <span
                                    class="wh-24 me-15 rounded-circle content-center color-primary bg-opacity-primary"
                                  >
                                    <img src="./assets/img/svg/code.svg" alt="code" class="svg"
                                  /></span>
                                  <span
                                    class="profile-image rounded-circle d-block wh-34 m-0"
                                    style="background-image: url('img/tm3.png'); background-size: cover"
                                  ></span>
                                </div>
                                <div>
                                  <a href="#">
                                    <p class="fw-500 fs-14 text-dark mb-0">
                                      Mike Greene
                                      <span class="color-light mx-1 fw-400">pushed commit</span>#652364
                                    </p>
                                  </a>
                                  <span class="pt-1 d-block color-extra-light fs-12"> 9:30 PM </span>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li class="">
                            <div class="ffp d-flex justify-content-between align-items-center w-100">
                              <div class="d-flex">
                                <div class="me-3 ffp__imgWrapper d-flex align-items-center">
                                  <span
                                    class="wh-24 me-15 rounded-circle content-center color-warning bg-opacity-warning"
                                  >
                                    <img src="./assets/img/svg/upload.svg" alt="upload" class="svg"
                                  /></span>
                                  <span
                                    class="profile-image rounded-circle d-block wh-34 m-0"
                                    style="background-image: url('img/tm4.png'); background-size: cover"
                                  ></span>
                                </div>
                                <div>
                                  <a href="#">
                                    <p class="fw-500 fs-14 text-dark mb-0">
                                      Tomlinson <span class="color-light mx-1 fw-400">completed task</span>Invoice
                                      template
                                    </p>
                                  </a>
                                  <span class="pt-1 d-block color-extra-light fs-12"> 10:30 PM </span>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ends: .card -->
        </div>
        <!-- ends: col -->
        <div class="col-xxl-4 col-lg-6 order-xxl-0 order-lg-1">
          <div class="card pb-10 border-0">
            <div class="card-header py-20 px-sm-25 px-3">
              <h6>파일 목록</h6>
            </div>
            <div
              class="card-body"
              id="workspace-files"
              style="overflow-y: scroll; max-height: 400px; height: 400px"
            ></div>
          </div>
        </div>
        <!-- ends: .card -->
      </div>
      <!-- ends: col -->
    </div>
  </div>
  <!-- ends: project tab -->
</div>
<script src="../assets/js/workspace-detail.js" defer></script>
<%- include('includes/footer') %>
